---
layout: layouts/base.njk
title: Page Not Found
permalink: /404.html
---

<div class="page-header" style="text-align: center;">
  <h1>404 - Page Not Found</h1>
  <p class="subtitle">The page you're looking for doesn't exist.</p>
</div>

<div style="text-align: center; margin-top: 2rem;">
  <p>You might want to check out:</p>
  <ul style="list-style: none; margin-top: 1rem;">
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/coding/">Coding Projects</a></li>
  </ul>
</div>
