---
permalink: /career/index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=https://docs.google.com/presentation/d/1jI_YU0_vfYA-ewWNubxK-PpxI3C1lFlfnl8RLumeP8w/edit?usp=sharing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting...</title>
  <script>
    window.location.href = "https://docs.google.com/presentation/d/1jI_YU0_vfYA-ewWNubxK-PpxI3C1lFlfnl8RLumeP8w/edit?usp=sharing";
  </script>
</head>
<body>
  <p>Redirecting to career presentation...</p>
  <p>If you are not redirected, <a href="https://docs.google.com/presentation/d/1jI_YU0_vfYA-ewWNubxK-PpxI3C1lFlfnl8RLumeP8w/edit?usp=sharing">click here</a>.</p>
</body>
</html>
